<header id="main-header">
    <nav id="navbar">
        <h1>ezChat</h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/users/login">Login</a>
            </li>

            <li>
                <a href="/users/register">Register</a>
            </li>
        </ul>
    </nav>
</header>