<%- include("./partials/header"); %>
<section id="content">
    <h1>Uh Oh!</h1>
    <h2>We've detected you aren't using the EzChat Client</h2>
    <button onClick="ClientDownloadRedirect()">Download Client Here</button>
</section>