<!DOCTYPE html>
<html>

<head>
  <!-- prevent extraneous favicon requests -->
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="css/room.css">
  <script>
    const USR_NAME = "<%= name %>";
  </script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="webrtc.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>

  <div id="chat-bar">
    <ul id="messages"></ul>
    
    <!--
    <input id="message" placeholder="Type a Message..." />
    <button onClick="EmitMessage()">SEND</button>-->
  </div>
  
  <div id="video-grid">
  </div>

  <script type="text/javascript">
    start();
  </script>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

</body>

</html>