<div id="chat-bar">
    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off" placeholder="Type a Message..."/>
        <button>SEND</button>
    </form>
</div>

<div id="video-grid"></div>
